# Ports
BT_HTTP_PORT=8090

# Networking (Docker Desktop: host.docker.internal reaches services on the host)
BT_NATS_URL=nats://host.docker.internal:4222
BT_CLICKHOUSE_DSN=clickhouse://default:clickhouse@host.docker.internal:9009/default
BT_CONTROL_PLANE_URL=http://host.docker.internal:8080
